extends layout

block append scripts
    script(src='/javascripts/lib/require.js', data-main='javascripts/main.js')    

block content
    div.sidebar
        div.row-fluid
            a(href= "/")
                h1 Tree
            p Search users using the input below. This will generate a graph representing the user and his/her followers. Search multiple users for a better result.
        div.row-fluid.input-append
            input#search-input.span8(type= "text", placeholder= "Username")
            button.btn#search-btn Search
    div#sig
