extends layout

block content
    if session
        div#search-container
            input#search-input
            button#search-btn Search
        div#sig
    else
        a(href='/auth/appdotnet') Log in
