extends layout

block append scripts
    script(src='/javascripts/lib/require.js', data-main='javascripts/index.js')    

block content
    div#wrapper
        div.container-fluid
            div.row-fluid
                h1 Tree
            div.row-fluid
                div.span6
                    p.subtitle 
                        span Vizualize your 
                        a(href='http://alpha.app.net') App.net 
                        span followers in a clean graph and compare it with other users
            div.row-fluid.block
                p
                    span This app was made by 
                    a(href='http://alpha.app.net/rp') @rp
            div.row-fluid.block
                div.span6.links
                    a(href='/graph').visible-non-touch Get started
                    span.visible-non-touch  - 
                    a(href='https://github.com/RomainPiel/Tree') Github project
