html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 400 14px/1.6 "Open Sans", sans-serif;
}
a,
a:hover {
  cursor: pointer;
  text-decoration: none;
}
h1 {
  font: 300 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input::-webkit-input-placeholder {
  color: #444;
}
div.sidebar {
  z-index: 20;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 100%;
  min-width: 300px;
  padding: 10px 20px;
  color: #777;
}
div.sidebar h1 {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #777;
}
div.sidebar p {
  font-size: 15px;
}
div.sidebar input,
div.sidebar input:focus {
  background: transparent;
  border-color: #777;
  color: #08c;
}
div.sidebar button.btn {
  background: transparent;
  border-color: #777;
  color: #777;
  text-shadow: none;
}
#sig {
  background-color: #111;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wrapper {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.container-fluid h1 {
  margin-top: 180px;
  color: #353535;
}
.container-fluid p.subtitle a,
.container-fluid p.subtitle span {
  font: 100 50px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 0.8;
  color: #BEBEBE;
  text-decoration: none;
}
.container-fluid div.block {
  margin-top: 20px;
}
.container-fluid div.links {
  text-align: center;
}
